div.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: whitesmoke;
  flex-direction: column;
}

div.App main {
  width: 100%;
  box-sizing: border-box;
  padding: 4%;
}

div.App-header {
  display: flex;
  box-sizing: border-box;
  height: 300px;
}

div.App-header ul {
  display: flex;
  flex-direction: row;
}

.create-form label{
  color: whitesmoke !important;
  font-size: 12px !important;
}